<% http_header("style/form.css","funcs.js") %>
<script>
<% refresh_timestamp("debug_info","collect_log") %>
var ts="<% cfg_get("debug_info") %>";
function loadvalue()
{
	if("<% cfg_get("debug_boot_up") %>" == "1")
		document.forms[0].log_capture.checked = true;
	else
		document.forms[0].log_capture.checked = false;

	if("<% cat_file("/tmp/wanlan_capture") %>" == "1")
	{
		document.forms[1].wanlan_capture.checked = true;
		document.forms[2].store_location.disabled = false;
	}
	else
	{
		document.forms[1].wanlan_capture.checked = false;
		document.forms[2].store_location.disabled = true;
	}

	var locate= "<% cat_file("/tmp/debug_store_locate") %>";
	if(locate == "")
		locate = "0";
	document.forms[2].store_location.value = locate;

	if("<% cat_file("/tmp/enable_telnet") %>" == "1")
		document.forms[5].enable_telnet.checked = true;
	else
		document.forms[5].enable_telnet.checked = false;

	if("<% cat_file("/tmp/debug_mirror_on") %>" == "1")
		document.forms[6].mirrortolan.checked = true;
	else
		document.forms[6].mirrortolan.checked = false;

	if("<% cat_file("/tmp/allow_ipv6_ping") %>" == "1")
		document.forms[7].allow_ipv6_ping.checked = true;
	else
		document.forms[7].allow_ipv6_ping.checked = false;

	document.forms[8].fan_speed.value = "<% cfg_get("fan_speed") %>";

	refresh_start();
}

function click_logcapture()
{
	var cf = document.forms[0];
	if(cf.log_capture.checked == true)
		cf.hid_boot_up.value = "1";
	else
		cf.hid_boot_up.value = "0";
	cf.action="/apply.cgi?/debug_detail.htm timestamp="+ts;
	cf.submit();
}

function click_wanlan()
{
	var cf = document.forms[1];
	if(cf.wanlan_capture.checked == true)
		cf.hid_wanlan_capture.value = "1";
	else
		cf.hid_wanlan_capture.value = "0";
	cf.action="/apply.cgi?/debug_detail.htm timestamp="+ts;
	cf.submit();
}

function click_location()
{
	var cf = document.forms[2];
	if(cf.store_location.value == "1" && "<% cat_file("/tmp/debug-usb") %>" != "1")
	{
		alert("There are no USB devices connected to the router!");
		cf.store_location.value = "0";
	}
	cf.action="/apply.cgi?/debug_detail.htm timestamp="+ts;
	cf.submit();
}

function click_start()
{
	var cf = document.forms[3];
	cf.action="/apply.cgi?/debug_detail.htm timestamp="+ts;
	cf.submit();
}

function click_telnet()
{
	var cf = document.forms[5];
	if(cf.enable_telnet.checked == true)
		cf.hid_telnet.value = "1";
	else
		cf.hid_telnet.value = "0";
	cf.action="/apply.cgi?/debug_detail.htm timestamp="+ts;
	cf.submit();
}

function click_mirror()
{
	var cf = document.forms[6];
	if(cf.mirrortolan.checked == true)
		cf.hid_mirrortolan.value = "1";
	else
		cf.hid_mirrortolan.value = "0";
	cf.action="/apply.cgi?/debug_detail.htm timestamp="+ts;
	cf.submit();
}
function click_ipv6()
{
	var cf = document.forms[7];
	if(cf.allow_ipv6_ping.checked == true)
		cf.hid_ipv6.value = "1";
	else
		cf.hid_ipv6.value = "0";
	cf.action="/apply.cgi?/debug_detail.htm timestamp="+ts;
	cf.submit();
}
function click_fan()
{
	var cf = document.forms[8];
	cf.action="/apply.cgi?/debug_detail.htm timestamp="+ts;
	cf.submit();
}

function refresh_start()
{
        var file="/collect_debug.txt";
        var xmlHttp = createXMLHttpRequest();
        var result;

	var disable_str="<input type='button' name='Start' class='common_gray_bt' value='Start Capture' disabled/>    Debug Log capturing in progress";
	var enable_str="<input type='button' name='Start' class='common_bt' value='Start Capture' onclick='click_start();'/>";

        xmlHttp.onreadystatechange=function()
        {
                if(xmlHttp.readyState==4 && xmlHttp.status==200)
                {
                        result=xmlHttp.responseText;
			getObj("start_button").innerHTML='';
                        if(result == 1)
				getObj("start_button").innerHTML=disable_str;
                        else
				getObj("start_button").innerHTML=enable_str;
                }
        }
        xmlHttp.open("GET", file, true);
        xmlHttp.send();

}

</script>

<BODY onLoad="loadvalue();" bgcolor=#ffffff>
<div id="main">
<div>
<table width="100%" border="0" cellpadding="0" cellspacing="10">
<tr><td colspan=3><img src=/liteblue.gif width=100% height=12></td></tr>
<tr><td colspan=3><b>Basic Infomation</b></td></tr>
<tr><td width=30px>&nbsp;</td><td width=250px><b>CPU Load</b></td><td><% cat_file("/tmp/debug_cpu") %></td></tr>
<tr><td></td><td><b>Memory Usage(Used/Total)</b></td><td><% cat_file("/tmp/debug_mem") %></td></tr>
<tr><td></td><td><b>Flash Usage(Used/Total)</b></td><td><% cat_file("/tmp/debug_flash") %></td></tr>
<tr><td></td><td><b>Network Session(Active/Total)</b></td><td><% cat_file("/tmp/debug_session") %></td></tr>
<tr><td></td><td><b>CPU Temperature</b></td><td><% cat_file("/tmp/debug_cpu_temperature") %></td></tr>
<tr><td></td><td><b>2G WiFi Temperature</b></td><td><% cat_file("/tmp/debug_2g_temperature") %></td></tr>
<tr><td></td><td><b>5G WiFi Temperature</b></td><td><% cat_file("/tmp/debug_5g_temperature") %></td></tr>
<tr><td></td><td><b>60G 11ad baseband temperature</b></td><td><% cat_file("/tmp/debug_11ad_temperature") %></td></tr>
<tr><td></td><td><b>60G 11ad antenna array temperature</b></td><td><% cat_file("/tmp/debug_antenna_temperature") %></td></tr>
<tr>
	<td></td><td><b>System Uptime</b></td>
	<td>
	<script>
	var uptime= "<% show_uptime() %>";
	var new_time=change_sec_to_time(uptime);
	document.write(new_time);
	</script>
</td></tr>
</table>
</div>

<div style="margin-left:5px">
<b>Debug Log Capture</b>
<div style="margin-left:50px">
<form method="post" action="/apply.cgi?/debug_detail.htm" target="formframe">
<input type="hidden" name="submit_flag" value="debug_info" />
<input type="hidden" name="hid_boot_up" />
<input type="checkbox" name="log_capture" onclick="click_logcapture();"><b>Start Debug Log Capture when boot up</b>
</form>
<br/>
<form method="post" action="/apply.cgi?/debug_detail.htm" target="formframe">
<input type="hidden" name="submit_flag" value="debug_info" />
<input type="hidden" name="hid_wanlan_capture" />
<input type="checkbox" name="wanlan_capture" onchange="click_wanlan();"><b>Enable LAN/WAN Packet Capture</b>
</form>
<br/>
<div style="margin-left:30px">
<form method="post" action="/apply.cgi?/debug_detail.htm" target="formframe">
<input type="hidden" name="submit_flag" value="debug_info" />
<b>Store location</b>&nbsp;&nbsp;&nbsp;&nbsp;
	<select name="store_location" onchange="click_location();">
		<option value="0">System Memory</option>
		<option value="1">USB Device</option>
	</select>
</form>
</div>
<br/>
<form method="post" action="/apply.cgi?/debug_detail.htm" target="formframe">
<input type="hidden" name="submit_flag" value="collect_log" />
<div id="start_button"></div>
</form>
<br/>
<form action="/debug.cgi" method="post" enctype="multipart/form-data" target="formframe">
<input type="submit" name="Save" class="common_bt" value="Save Debug Log" onclick="setTimeout('refresh_start()',5000);return true;"/>
</form>
</div>
<br/>
<form method="post" action="/apply.cgi?/debug_detail.htm" target="formframe">
<input type="hidden" name="submit_flag" value="debug_info" />
<input type="hidden" name="hid_telnet" />
<input type="checkbox" name="enable_telnet" onclick="click_telnet();"><b>Enable Telnet</b>
</form>
<br/>
<form method="post" action="/apply.cgi?/debug_detail.htm" target="formframe">
<input type="hidden" name="submit_flag" value="debug_info" />
<input type="hidden" name="hid_mirrortolan" />
<input type="checkbox" name="mirrortolan" onclick="click_mirror();"><b>WAN Port mirror to LAN port1</b>
</form>
<br/>
<form method="post" action="/apply.cgi?/debug_detail.htm" target="formframe">
<input type="hidden" name="submit_flag" value="debug_info" />
<input type="hidden" name="hid_ipv6" />
<input type="checkbox" name="allow_ipv6_ping" onclick="click_ipv6();"><b>Allow external IPv6 hosts ping internal IPv6 hosts</b>
</form>

</div>

<style>
.t_title td{ width:10%; border:solid #D2DEE9; border-width:0px 1px 1px 0px; }
.t_title{ font-weight:bold; height:25px; }
.t_title td, .t_middle td{ width:10%; border:solid #D2DEE9; border-width:0px 1px 1px 0px; }
.t_last td{ width:10%; border:solid #D2DEE9; border-width:0px 1px 0px 0px; }
.t_title .no_rigth, .t_middle .no_rigth{ border-width:0px 0px 1px 0px; }
.t_last .no_rigth{ border-width:0px 0px 0px 0px; }
</style>
<div style="margin-left:5px">
<img src=/liteblue.gif width=100% height=12>
<b>Fan Algorithm</b><br/><br/>
<form method="post" action="/apply.cgi?/debug_detail.htm" target="formframe">
<input type="hidden" name="submit_flag" value="debug_info" />
<div style="margin-left:30px">
<table width=80% border=0 cellpadding=0 cellspacing=2 border=0>
<tr class="t_title">
	<td>&nbsp;</td>
	<td>CPU</td>
	<td>2.4G WiFi</td>
	<td>5G WiFi</td>
	<td>60G 11ad T_mac</td>
	<td class="no_rigth">60G 11ad T_radio</td>
</tr>
<tr class="t_middle">
	<td><b>T(High-H):</b></td>
	<td><input type="text" name="high_h" size="3" value="<% cfg_get("temp_high_h") %>"></td>
	<td><input type="text" name="2g_high_h" size="3" value="<% cfg_get("wlan_2g_high") %>"></td>
	<td><input type="text" name="5g_high_h" size="3" value="<% cfg_get("wlan_5g_high") %>"></td>
	<td><input type="text" name="60g_m_high_h" size="3" value="<% cfg_get("wig_tmac_high") %>"></td>
	<td class="no_rigth"><input type="text" name="60g_r_high_h" size="3" value="<% cfg_get("wig_tradio_high") %>"></td>
</tr>
<tr  class="t_middle">
	<td><b>T(High-L):</b></td>
	<td><input type="text" name="high_l" size="3" value="<% cfg_get("temp_high_l") %>"></td>
	<td></td>
	<td></td>
	<td></td>
	<td class="no_rigth"></td>
</tr>
<tr  class="t_middle">
	<td><b>T(Low-H):</b></td>
	<td><input type="text" name="low_h" size="3" value="<% cfg_get("temp_low_h") %>"></td>
	<td></td>
	<td></td>
	<td></td>
	<td class="no_rigth"></td>
</tr>
<tr class="t_last">
	<td><b>T(Low-L):</b></td>
	<td><input type="text" name="low_l" size="3" value="<% cfg_get("temp_low_l") %>"></td>
	<td><input type="text" name="2g_low_l" size="3" value="<% cfg_get("wlan_2g_low") %>"></td>
	<td><input type="text" name="5g_low_l" size="3" value="<% cfg_get("wlan_5g_low") %>"></td>
	<td><input type="text" name="60g_m_low_l" size="3" value="<% cfg_get("wig_tmac_low") %>"></td>
	<td class="no_rigth"><input type="text" name="60g_r_low_l" size="3" value="<% cfg_get("wig_tradio_low") %>"></td>
</tr>
</table>
<br/><b>Fan speed</b>&nbsp;&nbsp;&nbsp;&nbsp;
	<select name="fan_speed" >
		<option value="2000">2000rpm</option>
		<option value="3000">3000rpm</option>
		<option value="3500">3500rpm</option>
		<option value="4000">4000rpm</option>
	</select><br/><br/>
<input type='button' name='Save Fan' class='common_bt' value='Save' onclick='click_fan();'/>
</div>
</form>
</div>

</div>
</body>
</html>

